/* General */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

:root {
   --main-color: '#000' 
}

.container {
    position: relative;

    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}